@media all and (max-width: 420px) {
  /* generali */
  *{
    margin: 0;
    padding: 0;
  }
  img{
    width: 65%;
    height: auto;
  }
  /* row */
  .row{
    width: 100%;
    margin-top: 2%;
  }
  /* lezioni */
  #lezioni .row>.left{
    width: 100%;
    float: none;
    margin-bottom: 15%;
  }
  #lezioni .row>.right{
    width: 100%;
    float: none;
  }
  /* blocco steps */
  #steps .row>.left,
  #steps .row>.central,
  #steps .row>.right {
    float: none;
    width: 100%;
    margin: 15% auto;
  }
  /* blocco perche */
  #why .row img{
    width: 50%;
    max-height: 30%;
    padding: 10%
  }
}

/* bonus */

@media all and (max-width: 1000px) and (min-width: 421px) {
  /* generali */
  *{
    margin: 0;
    padding: 0;
  }
  img{
    width: 30%;
    height: auto;
  }
  /* row */
  .row{
    width: 100%;
  }
  /* lezioni */
  #lezioni .row>.left{
    width: 90%;
    float: none;
    margin: 5% auto;
  }
  #lezioni .row>.right{
    width: 90%;
    float: none;
    margin: auto;
    padding-bottom: 5%;
  }
  /* blocco steps */
  #steps .row>.left,
  #steps .row>.central,
  #steps .row>.right{
    width: 50%;
    margin: 5% auto;
  }
  #steps .row>.right{
    float: none;
  }
  /* blocco perche */
  #why .row img{
    width: 20%;
    padding: 7%
  }

}
